{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "spyOn": true
  },
  "rules": {
    "react/jsx-filename-extension": ["error", {"extensions": [".js", ".jsx"]}],
    "global-require": "off",
    "no-console": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "react/prop-types": [
      "error",
      {
        "ignore": ["children"]
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "prefer-promise-reject-errors": "off",
    "no-nested-ternary": "off",
    "react/no-multi-comp": "off",
    "prettier/prettier": "error"
  }
}
